#search-bar {
    background-color: white;
    border: none;
    color: black;
}

#search-bar::placeholder {
    color: gray;
}

#search-bar::-ms-input-placeholder {
    color: gray;
}


#list-group {
    border-radius: 10px;
    border-width: 0px !important;
}


.list-group-item {
    border-radius: 10px;
    border-width: 0px !important;
}


.list-group-item.active {
    background-color: #125B9A;
}
